.wrap{
    position: relative;
}

.content{
    position: relative;
    width: 70%;
    margin: 40px auto;
}

.git-image{
    opacity: 0.02;
    position: fixed;
    left: -250px;
    top: 80px;
    height: 80vh;
}

.list-title{
    font-size: 32px;
    color: #cdd9e5b3;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-title span{
    font-size: 16px;
    margin-inline: 16px;
    padding: 10px;
    background-color: #2d333b;
    border: solid 1px #cdd9e51a;
    border-radius: 16px;
}

@media only screen and (max-width: 600px){
    .content{
        width: 95%;
    }
}